/*
 * Base structure
 */

body {
  position: relative;
}

.cover-container {
  max-width: 100em;
  height: auto;
}

.biography {
  overflow-wrap: break-word;
  overflow:hidden;
  text-align: justify;
}

input[type=radio] {
      display: none;
    }
